* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 70%;
  margin: 2rem auto;
  background-color: lightgray;
  min-height: 250px;
  text-align: center;
  padding: 2rem;
}

.btn {
  padding: 0.5rem;
  text-transform: uppercase;
  color: white;
  background-color: rgba(9, 119, 223, 0.863);
  border: 1px solid rgba(9, 119, 223, 0.863);
  border-radius: 5px;
}

.btn:hover {
  background-color: rgba(8, 110, 206, 0.863);
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
  border: 1px solid gray;
}

.user-info {
  display: flex;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.user-name {
  width: 60px;
  word-wrap: break-word;
  font-size: 0.8rem;
}
